<!DOCTYPE html>
<html >

<head>
	<meta charset="UTF-8">
	<title>index</title>
	<link rel="stylesheet" href="/css/index/index.css">
	 
	<meta name="viewport" content="width=device-width">
	<script src="/js/index/index.js"></script>
</head>

<body>
	<section class="view-body">

		<section class="view-content">
			<a class="a-btn">
				<div class="tf-btn">
					<div class="tf-label-wrap">
						<label>title1</label>
					</div>
					<div class="tf-value-wrap">
						<div class="value">values</div>
					</div>
				</div>
			</a>
		</section>
		<section class="view-content">
			<a class="a-btn" href="javascript:void(0)">
				<div class="tf-btn">
					<div class="tf-label-wrap">
						<label>title1</label>
					</div>
					<div class="tf-value-wrap">
						<div class="value">values</div>
					</div>
				</div>
			</a>

			<a class="a-btn" href="javascript:void(0)">
				<div class="tf-btn">
					<div class="tf-label-wrap">
						<label>title1</label>
					</div>
					<div class="tf-value-wrap">
						<div class="value">values</div>
					</div>
				</div>
			</a>
		</section>
	</section>
</body>

</html>