<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="/css/index/index.css">
    <script src="/js/index/index.js"></script>
</head>

<body>
    <section class="page-container flex-column center">
        <!-- header -->
        <div class="flex-shrink flex-row center middle">
            <div class="p-all-6">test demo</div>
        </div>
        <!-- container -->
        <div class="flex-grow flex-row start">
            <!-- left-side -->
            <div class="flex-shrink flex-column left-side">
                <!-- side ctrl -->
                <div class="flex-shrink flex-row wrap ctrl-list p-all-2">
                    <div class="ctrl-item">ctrl-1</div>
                    <div class="ctrl-item">ctrl-2</div>
                    <div class="ctrl-item">ctrl-3</div>
                    <div class="ctrl-item">ctrl-4</div>
                    <div class="ctrl-item">ctrl-5</div>
                    <div class="ctrl-item">ctrl-6</div>
                    <div class="box-anim btn-radius">
                        animation box
                    </div>
                </div>
                <!-- side list -->
                <div class="flex-grow flex-column link-list-wrap scroll-y">
                    <div class="link-list">
                        <div class="link-item">link-1</div>
                        <div class="link-item">link-2</div>
                        <div class="link-item">link-3</div>
                        <div class="link-item">link-4</div>
                        <div class="link-item">link-5</div>
                        <div class="link-item">link-6</div>
                        <div class="link-item">link-7</div>
                        <div class="link-item">link-8</div>
                        <div class="link-item">link-9</div>
                        <div class="link-item">link-10</div>
                        <div class="link-item">link-11</div>

                    </div>
                </div>
            </div>
            <!-- right container -->
            <div class="flex-grow flex-row">

                <div class="flex-grow flex-column">
                    <div class="flex-shrink p-all-2 flex-row wrap ctrl-list">
                        <div class="ctrl-item">ctrl-1</div>
                        <div class="ctrl-item">ctrl-2</div>
                        <div class="ctrl-item">ctrl-3</div>
                        <div class="ctrl-item">ctrl-4</div>
                        <div class="ctrl-item">ctrl-5</div>
                        <div class="ctrl-item">ctrl-6</div>
                    </div>
                    <div class="flex-grow p-all-2 word-break-all">
                        content
                    </div>
                </div>

                <div class="flex-shrink flex-column p-all-2">
                    <div class="ctrl-list">
                        <div class="ctrl-item">ctrl-1</div>
                        <div class="ctrl-item">ctrl-2</div>
                        <div class="ctrl-item">ctrl-3</div>
                        <div class="ctrl-item">ctrl-4</div>
                        <div class="ctrl-item">ctrl-5</div>
                        <div class="ctrl-item">ctrl-6</div>
                    </div>
                </div>
            </div>

        </div>
        <!-- footer -->
        <div class="flex-shrink flex-row center middle p-all-6">
            demo of tester
        </div>
    </section>
</body>

</html>